.memo-tarjeta{
    cursor: pointer;
    aspect-ratio: 1/1;
}

.memo-tarjeta-front, .memo-tarjeta-back{
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.memo-tarjeta-inner{
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.memo-tarjeta-back{
    background-color: #EF626C;
    transform: rotateY(180deg);
    box-shadow: 5px 5px 10px 0px rgb(0 0 0 / 50%);
    font-size: 60px;
}

.memo-tarjeta-front{
    background-color: #c2d3d0;

}
.memo-tarjeta-front-logo{
    max-width: 86%;
}

.memo-tarjeta-Girada{
    transform: rotateY(180deg);
}