.memo-tarjeta{
    cursor: pointer;
    aspect-ratio: 1/1;
}

.memo-tarjeta-front, .memo-tarjeta-back{
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.memo-tarjeta-inner{
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    animation: iniciar 5s;
}

.memo-tarjeta-back{
    background-color: #ffffff;
    transform: rotateY(180deg);
    box-shadow: 5px 5px 10px 0px rgb(0 0 0 / 50%);
    font-size: 78px;
    
}

.memo-tarjeta-front{
    background-color: #060a2b;

}
.memo-tarjeta-front-logo{
    max-width: 90%;
}

.memo-tarjeta-Girada{
    transform: rotateY(180deg);
}

@keyframes iniciar {

    20%,
    90% {
        transform: rotateY(180deg);
    }

    0%,
    100% {
        transform: rotateY(0deg);
    }
}

@media (max-width: 768px) { 
    .memo-tarjeta-back{
        font-size: 75px;
        
    }
 }

 @media (max-width: 640px) { 
    .memo-tarjeta-back{
        font-size: 40px;
        
    }
  }